@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&display=swap');

*{
    margin: 0%;
}

a {
    text-decoration: none;
    color: white;
}


#tsparticles {
    height: 450px;
}

.heroChild {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    margin: auto;
    align-items: center;
    text-align: center;
    position: relative;
    margin-top: -365px;
}

.info h1 {
    font-family: 'Old Standard TT';
    font-size: 110px;
    color: white;
    text-shadow: -20px 20px 15px #004d40;
}

.info h2 {
    font-family: 'Old Standard TT';
    font-style: italic;
    font-size: 40px;
    color: white;
    text-shadow: -20px 20px 15px #004d40;
}

.avatar {
    position: absolute;
    top: -5;
}
 

@media only screen and (max-width: 488px) {
    .info {
        margin: auto;
        align-items: center;
        text-align: center;
        position: relative;
        margin-top: -450px;
    }
}